<ion-view view-title="Avatar View" cache-view="false" overflow-scroll="true">
  <ion-content class="classes content-dark">
    <div class="description">
      <span ng-style="{'display':'none'}">
        <img src="http://www.w3.org/TR/SVG11/images/painting/fillrule-evenodd.svg" id="svgSampleEmement">

      </span>
      <div class="class-header"
           ng-style="{ 'height': '85vh'}">

      <span id="canvasParent"></span>

      </div>
      <div style="position: absolute; top: 0px;">

      </div>
      <div class="team-body"
           ng-style="{'width': '100%',
                      'height': ''}">
        <div ng-style="{'width': '100%',
                        'height': '2em',
                        'background-color': '#234',
                        'box-shadow': '0px 5px 15px rgb(34, 34, 34)',
                        'margin-bottom': '1em'}">
          <div ng-style="{'width': levelPercent(),
                          'height': '2em',
                          'background-color': '#ccc'}">
          </div>
        </div>
        <p ng-style="{'padding': '0 0.5em'}">
          <h4 ng-style="{'width': '30%', 
                         'float': 'left', 
                         'text-align': 'left',
                         'margin-left': '0.5em'}">
            Points: {{classInfo.points}}
          </h4>
          <h4 ng-style="{'width': '30%', 
                         'float': 'right', 
                         'text-align': 'right',
                         'margin-right': '0.5em'}">
            Next Level: {{classInfo.nextLvl}}
          </h4>
        </p>
        <p>
          <h3>
            Level {{classInfo.level}}
          </h3>
        </p>
        <h3 ng-style="{'loat': 'left', 'color': ''}"> {{classInfo.team}} </h3>
        <h4 ng-style="{'margin-left': 'auto', 
                       'margin-right': 'auto', 
                       'width': '60%'}"> 
           {{classInfo.course}} 
         </h4>
        
        <button ng-style="{'float': 'right',
                           'position': 'absolute',
                           'right': '1em',
                           'bottom': '1em'}" 
                class="button"
                ng-click="toOverview()">
          Other Teams 
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
