<ion-view view-title="Classes">
  <ion-content class="classes content-dark">
    <div class="description">
      <div class="header"
           ng-style="{ 'background-color': classInfo.color, 'height': '40%'}">
        <h1> {{classInfo.course}} </h1>
        <h3> {{classInfo.team}} </h3>
      </div>
      <div class="team-body"
           style="width: 100%; height: 60%; background-color: #cdcdcd;">
        <p>
          <label>
            Level {{classInfo.level}}
          </label>
        </p>
        <p>
          <label>
            Points {{classInfo.points}}
          </label>
        </p>
        
      </div>
    </div>
  </ion-content>
</ion-view>
